/* ESTILOS GENERALES */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: white;
}

h3{  
    color: #000000;
    margin: 1rem;
}
h2{
    color: #960010;
    margin: 1rem;
}

img{
    max-width: 100%;
    display: block;
    object-fit:scale-down; /* Evita la deformación de la imagen */
    

}
figure {
    /*border: 5px solid ; */
    /*width: 250px;*/
    display: flex;
    text-align: center;
    font-family: sans-serif;
}
p {
    /*border: 5px solid #6B8A47;*/
    
    margin: 2rem;
}

caption{
    margin: 0;
    padding: 0;
}

header {
    
    align-items: center;
    justify-content: center;
    max-height: 6rem;
}

.fijo{
    position: absolute;
}

/* ESTILOS INDEX.HTML */
header figure{ 
    min-height: 5rem;
    max-height: 6rem;
}
header img{
    flex: 1 1 0;
}

header ul {
    display: flex;
    font-size: small;
    justify-content: flex-end;
    list-style: none;

}


header li *{
    color: #960010;
}


.barra_navegacion {
    display: flex;
    padding: 0;
    margin-top: 3rem;
}

.barra_navegacion li{
    display : flex;
    flex : 1 0 0;
    background-color: #000000;
}

.submenu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    margin-top: 2.5rem;
  }

.barra_navegacion > li:hover > .submenu {
    display: block;
  }

.barra_navegacion a{
    display: block;
    user-select: none;
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
}


.barra_navegacion li:hover{
    background: #960010;
}


.display:target{
    display: block;
}


.display{
    display: none;
}



#foto_inicio {
    border:5px solid #000000;
    float: left;
    margin-left: 10%;
    max-width: 26rem;
    
    
    
}

#cuadro_texto_bienvenida{
    padding-inline: 1rem;

}

.imagen_texto{
    display: inline;
    vertical-align:text-bottom;
    width: 100%;
    width: 6rem;
}


.cuadro_texto {
    /* border: 5px solid #6B8A47; */
    overflow: hidden; /* Sin esto el cuadro de texto ocupa tambien las fotos*/
}

.article{
    display: block;
    border: solid 0.3rem black;

}

.article figure{
    max-width: 25rem;

    margin: 0 auto;
}
.article p{
    margin-top: 1rem;
    text-align: left;
}


.video{
    display: block;
}

button{
    width: 6rem;
    padding-bottom: 1rem;
    padding-top: 0rem;
    margin: 1rem auto;
}

.boton_periodico img:hover{
    filter: saturate(200%);
}
.boton_corregir img:hover{
    filter: saturate(200%);
}

#seleccionar_preguntas {
    margin: 3rem;
}

#seleccionar_preguntas input, select{
    min-width: 15rem;
}

.pregunta_trivia *{
    display: flex;
}

#end_trivia_button{
    background: none;
    border: none;
    width: 2000rem;
}

#figure_corregir{
    width: 9rem;
    margin: 0 auto;
}

#contacta{
    display:block;
    border: solid 3px #960010 ;
    padding: 1rem;
}

#contacta p{
    text-align: left;
}

.form-control{
    width: 100%;
    max-width: 100%;
}

#cuerpo{
    height: 5rem;
}

.boton_periodico{
    background:none;
    border: none;
}


@media (max-width: 700px){
    h2{

        font-size: 1.1rem;
    }
    .display#home:target{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    .display#home*{
        display: flex;
        flex: 1 0 0;
        align-self: center;

    }
    .barra_navegacion *{
        font-size: small;
    }
}

#area_preguntas{
    display: block;
}

/*ESTILOS INICIAR_SESION.HTML Y REGISTRO */


fieldset{
    border: 5px solid #960010;
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-self: center;
    max-width: 20rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto; /* centra el fieldset */
}

input{
    flex: 1 0 0;
    border: 3px solid#000000;
}

select{
    flex: 1 0 0;
    border: 3px solid#000000
}

fieldset button{
    width: 15rem;
    align-self: center;
    background: none;
    border: none;
}

fieldset button:hover{
    filter: saturate(130%);
}

#nacimiento{
    padding: 0.75rem;
}

#end_trivia_button{
    display: none;
}